@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'typography' as *;
@use 'colors' as *;

.shop {
  padding-top: $space-7;
  padding-left: $space-8;
  padding-right: $space-8;
  padding-bottom: $space-15;

  @include for-breakpoint('mobile-large') {
    padding-left: $space-10;
    padding-right: $space-10;
  }

  @include for-breakpoint('tablet') {
    padding-top: $space-10;
    padding-left: $space-13;
    padding-right: $space-13;
    padding-bottom: $space-12;
  }

  @include for-breakpoint('desktop') {
    padding-top: $space-9;
    padding-left: $space-18;
    padding-bottom: $space-20;
    padding-right: $space-18;
  }
}
