@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'typography' as *;
@use 'colors' as *;

.shop {
  padding-top: $space-7;
  padding-left: $space-8;
  padding-right: $space-8;
  padding-bottom: $space-15;

  @include for-breakpoint('mobile-large') {
    padding-left: $space-10;
    padding-right: $space-10;
  }

  @include for-breakpoint('tablet') {
    padding-top: $space-10;
    padding-left: $space-13;
    padding-right: $space-13;
    padding-bottom: $space-12;
  }

  @include for-breakpoint('desktop') {
    padding-top: $space-9;
    padding-left: $space-18;
    padding-bottom: $space-20;
    padding-right: $space-18;
  }

  .products-listings {
    width: 100%;

    .products-listings-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: $space-11;

      @include for-breakpoint('tablet') {
        padding-right: $space-13;
      }

      @include for-breakpoint('desktop') {
        padding-right: $space-18;
      }

      h2 {
        @include heading-6;

        @include for-breakpoint('desktop') {
          @include heading-5;
        }
      }

      .view-all-link {
        color: $brand-400;

        @include for-breakpoint('desktop') {
          &:hover {
            color: $brand-300;
            transition: color 0.3s ease-in-out;
            text-decoration: underline;
          }
        }
      }
    }

    .products-listings-description {
      margin-top: $space-8;
      color: $neutral-500;
      @include paragraph-small;

      @include for-breakpoint('tablet') {
        margin-top: $space-5;
        @include paragraph-2;
      }
    }

    .product-listings-list {
      display: flex;
      margin-top: $space-8;
      column-gap: $space-8;

      @include for-breakpoint('tablet') {
        margin-top: $space-10;
        column-gap: $space-10;
      }

      @include for-breakpoint('desktop') {
        margin-top: $space-11;
      }
    }
  }
}
