@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

.customer-form {
  display: flex;
  flex-direction: column;
  gap: $space-11;

  @include for-breakpoint('tablet') {
    max-width: 50rem; //800px
  }
}

.save-changes-btn {
  margin-top: $space-9;

  @include for-breakpoint('tablet') {
    width: fit-content;
  }
}

.customer-page-title {
  @include heading-6;
  margin-bottom: $space-16;

  @include for-breakpoint('tablet') {
    margin-bottom: $space-12;
  }
}
