<div class="product-search-suggestions">
  <div class="recent-search">
    <div class="search-header">
      <h3 class="search-title">Recent search</h3>
      <button
        type="button"
        class="clear-recent-search-btn"
        aria-label="Clear Recent Search">
        <lucide-icon name="trash-2"></lucide-icon>
      </button>
    </div>
    <ul class="recent-search-list">
      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>
      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>
      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>

      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="popular-search">
    <div class="search-header">
      <h3 class="search-title">Popular search</h3>
    </div>
    <ul class="popular-search-list">
      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>
      <li class="search-list-item">
        <a
          ><img
            src="./assets/images/shop/product-image.png"
            class="search-item-image" />
          <span class="search-item-text">Living room furniture</span>
        </a>
      </li>
    </ul>
  </div>
</div>
