<div class="auth-content login-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Login</h1>
        <p class="title-info">
          Welcome back! Please enter your details to continue.
        </p>
      </header>
      <form>
        <div class="form-fields">
          <app-form-input
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@gmail.com"
            label="Email"
            autocomplete="email"></app-form-input>
          <app-form-input
            type="password"
            id="password"
            name="password"
            placeholder="*********"
            label="Password"
            autocomplete="new-password"></app-form-input>
          <a
            routerLink="/forgot-password"
            class="form-link forget-password-info"
            >Forgot Password?</a
          >
        </div>
        <button type="submit" class="button-brand-filled submit-btn">
          Login
        </button>
        <p class="form-info footer">
          Don't have an account yet?
          <a routerLink="/create-account" class="form-link"
            >Create an account</a
          >
        </p>
      </form>
    </div>
  </section>
  <section class="auth-image-container"></section>
</div>
