@use 'typography' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;

.footer {
  color: white;
  background-color: var(--neutral-500);
  padding: $space-10;
  padding-top: $space-12;

  @include for-breakpoint('tablet') {
    padding: $space-12;
  }

  @include for-breakpoint('desktop') {
    padding: $space-18;
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    gap: $space-13;

    @include for-breakpoint('tablet') {
      gap: $space-19;
    }

    @include for-breakpoint('desktop-xxlarge') {
      width: 1440px;
      margin: 0 auto;
      padding: 0 $space-18;
    }

    .newsletter {
      text-align: center;
      display: flex;
      flex-direction: column;

      @include for-breakpoint('tablet') {
        text-align: left;
      }

      @include for-breakpoint('desktop') {
        flex-direction: row;
        justify-content: space-between;
      }

      .newsletter-info {
        @include for-breakpoint('desktop') {
          flex-basis: 40%;
        }

        .newsletter-info-body {
          @include for-breakpoint('desktop') {
            @include paragraph-2;
          }
        }

        h2 {
          @include paragraph-large;
          color: white;
          margin-bottom: $space-8;
        }

        p {
          margin-bottom: $space-5;
          @include paragraph-small;
        }
      }

      .newsletter-subscription {
        @include for-breakpoint('desktop') {
          flex-basis: 30%;
        }

        .newsletter-subscription-form {
          margin-top: $space-7;
          display: flex;
          flex-direction: column;
          gap: $space-5;

          @include for-breakpoint('tablet') {
            width: 50%;
          }

          @include for-breakpoint('desktop') {
            flex-direction: row;
            width: 100%;
          }

          input {
            @include paragraph-small;
            color: white;
            border: 2px solid white;
            border-radius: $space-3;
            padding: $space-6;

            &::placeholder {
              color: white;
            }

            @include for-breakpoint('desktop') {
              width: 100%;
            }
          }

          button {
            @include paragraph-small;
            background-color: white;
            border-radius: $space-3;
            padding: $space-6;

            @include for-breakpoint('desktop') {
              &::hover {
                background-color: var(--neutral-500);
              }

              padding-left: $space-10;
              padding-right: $space-10;
            }
          }
        }

        .newsletter-subscription-info {
          @include paragraph-small;
          margin-top: $space-6;

          .newsletter-policy-link {
            text-decoration: underline;

            @include for-breakpoint('desktop') {
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer-main-links {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: $space-12;
      padding-bottom: $space-10;

      @include for-breakpoint('tablet') {
        flex-direction: row;
        text-align: left;
      }

      @include for-breakpoint('desktop') {
        width: 70%;
      }

      h3 {
        @include paragraph-large;
        color: white;
        margin-bottom: $space-10;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      .quick-links,
      .company-links,
      .legal-service-links,
      .contact-links {
        flex: 1;
      }

      .links-list {
        display: flex;
        flex-direction: column;
        gap: $space-9;

        li {
          @include paragraph-small;
        }
      }
    }

    .footer-other-links {
      display: flex;
      flex-direction: column;
      gap: $space-8;
      border-top: 1px solid white;
      padding-top: $space-13;
      @include paragraph-small;

      @include for-breakpoint('desktop') {
        flex-direction: row;
        justify-content: space-between;
        padding-top: $space-11;
      }

      .copyright-info {
        text-align: center;
      }

      .security-policies-links {
        @include for-breakpoint('tablet') {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-around;
        }
      }

      .social-media-links {
        padding-top: $space-8;
        padding-bottom: $space-5;

        @include for-breakpoint('tablet') {
          padding: 0;
        }

        ul {
          display: flex;
          justify-content: center;
          gap: $space-8;
        }
      }
    }
  }
}
