@use 'typography';
@use 'breakpoints';

.footer {
  color: white;
  background-color: var(--neutral-500);
  padding: var(--sp-10);
  padding-top: var(--sp-12);

  @include breakpoints.for-breakpoint('tablet') {
    padding: var(--sp-12);
  }

  @include breakpoints.for-breakpoint('desktop') {
    padding: var(--sp-18);
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    gap: var(--sp-13);

    @include breakpoints.for-breakpoint('tablet') {
      gap: var(--sp-19);
    }

    @include breakpoints.for-breakpoint('desktop-xxlarge') {
      width: 1440px;
      margin: 0 auto;
      padding: 0 var(--sp-18);
    }

    .newsletter {
      text-align: center;
      display: flex;
      flex-direction: column;

      @include breakpoints.for-breakpoint('tablet') {
        text-align: left;
      }

      @include breakpoints.for-breakpoint('desktop') {
        flex-direction: row;
        justify-content: space-between;
      }

      .newsletter-info {
        @include breakpoints.for-breakpoint('desktop') {
          flex-basis: 40%;
        }

        .newsletter-info-body {
          @include breakpoints.for-breakpoint('desktop') {
            @include typography.p2;
          }
        }

        h2 {
          @include typography.p-lg;
          color: white;
          margin-bottom: var(--sp-8);
        }

        p {
          margin-bottom: var(--sp-5);
          @include typography.p-sm;
        }
      }

      .newsletter-subscription {
        @include breakpoints.for-breakpoint('desktop') {
          flex-basis: 30%;
        }

        .newsletter-subscription-form {
          margin-top: var(--sp-7);
          display: flex;
          flex-direction: column;
          gap: var(--sp-5);

          @include breakpoints.for-breakpoint('tablet') {
            width: 50%;
          }

          @include breakpoints.for-breakpoint('desktop') {
            flex-direction: row;
            width: 100%;
          }

          input {
            @include typography.p-sm;
            color: white;
            border: 2px solid white;
            border-radius: var(--sp-3);
            padding: var(--sp-6);

            &::placeholder {
              color: white;
            }

            @include breakpoints.for-breakpoint('desktop') {
              width: 100%;
            }
          }

          button {
            @include typography.p-sm;
            background-color: white;
            border-radius: var(--sp-3);
            padding: var(--sp-6);

            @include breakpoints.for-breakpoint('desktop') {
              &::hover {
                background-color: var(--neutral-500);
              }

              padding-left: var(--sp-10);
              padding-right: var(--sp-10);
            }
          }
        }

        .newsletter-subscription-info {
          @include typography.p-sm;
          margin-top: var(--sp-6);

          .newsletter-policy-link {
            text-decoration: underline;

            @include breakpoints.for-breakpoint('desktop') {
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer-main-links {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: var(--sp-12);
      padding-bottom: var(--sp-10);

      @include breakpoints.for-breakpoint('tablet') {
        flex-direction: row;
        text-align: left;
      }

      @include breakpoints.for-breakpoint('desktop') {
        width: 70%;
      }

      h3 {
        @include typography.p-lg;
        color: white;
        margin-bottom: var(--sp-10);
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      .quick-links,
      .company-links,
      .legal-service-links,
      .contact-links {
        flex: 1;
      }

      .links-list {
        display: flex;
        flex-direction: column;
        gap: var(--sp-9);

        li {
          @include typography.p-sm;
        }
      }
    }

    .footer-other-links {
      display: flex;
      flex-direction: column;
      gap: var(--sp-8);
      border-top: 1px solid white;
      padding-top: var(--sp-13);
      @include typography.p-sm;

      @include breakpoints.for-breakpoint('desktop') {
        flex-direction: row;
        justify-content: space-between;
        padding-top: var(--sp-11);
      }

      .copyright-info {
        text-align: center;
      }

      .security-policies-links {
        @include breakpoints.for-breakpoint('tablet') {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-around;
        }
      }

      .social-media-links {
        padding-top: var(--sp-8);
        padding-bottom: var(--sp-5);

        @include breakpoints.for-breakpoint('tablet') {
          padding: 0;
        }

        ul {
          display: flex;
          justify-content: center;
          gap: var(--sp-8);
        }
      }
    }
  }
}
