<footer class="footer">
  <div class="footer-content">
    <section class="newsletter">
      <div class="newsletter-info">
        <h2>Join out newsletter</h2>
        <p>
          Sign up for exclusive deals, latest arrivals, and stylish home
          inspiration. Be the first to know about special offers and new
          collections.
        </p>
      </div>
      <div class="newsletter-subscription">
        <form class="newsletter-subscription-form">
          <input
            type="email"
            aria-label="Email"
            placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
        <p class="newsletter-subscription-info">
          By subscribing you agree to with our
          <a href="#" class="newsletter-policy-link">privacy policy.</a>
        </p>
      </div>
    </section>
  </div>
</footer>
