<footer class="footer">
  <div class="footer-content-container">
    <section class="newsletter">
      <div class="newsletter-info">
        <h2>Join out newsletter</h2>
        <p>
          Sign up for exclusive deals, latest arrivals, and stylish home
          inspiration. Be the first to know about special offers and new
          collections.
        </p>
      </div>
      <div class="newsletter-subscription">
        <form class="newsletter-subscription-form">
          <input
            type="email"
            aria-label="Email"
            placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
        <p class="newsletter-subscription-info">
          By subscribing you agree to with our
          <a href="#" class="newsletter-policy-link">privacy policy.</a>
        </p>
      </div>
    </section>
    <section class="footer-links">
      <section class="quick-links">
        <h3>Quick links</h3>
        <nav>
          <ul class="links-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Offers & Details</a></li>
          </ul>
        </nav>
      </section>
      <section class="company-links">
        <h3>Company</h3>
        <nav>
          <ul class="links-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </nav>
      </section>
      <section class="legal-service-links">
        <h3>Legal Services</h3>
        <nav>
          <ul class="links-list">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
          </ul>
        </nav>
      </section>
      <section class="contact-links">
        <h3>Contact Us</h3>
        <nav>
          <ul class="links-list">
            <li><a href="#">+233 6355 9553</a></li>
            <li><a href="#">amalihomes&commat;gmail.com</a></li>
          </ul>
        </nav>
      </section>
    </section>
  </div>
</footer>
