<footer class="footer">
  <section class="newsletter">
    <div class="newsletter-info">
      <h2>Join out newsletter</h2>
      <p>
        Sign up for exclusive deals, latest arrivals, and stylish home
        inspiration. Be the first to know about special offers and new
        collections
      </p>
    </div>
    <div class="newsletter-form">
      <form>
        <input type="email" aria-label="Email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
      <p>
        By subscribing you agree to with our
        <a href="#" class="newsletter-privacy-link">privacy Policy</a>
      </p>
    </div>
  </section>
</footer>
