@use 'breakpoints' as *;
@use 'components';
@use 'typography' as *;
@use 'spacing' as *;
@use 'colors' as *;
@use 'transitions' as *;
@use 'shadows' as *;

:host {
  display: block;
  position: sticky;
  top: 3.438rem; // 55px
  background-color: white;
  z-index: 2;

  .navbar-content {
    padding: $space-8 $space-11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutral-200);

    @include for-breakpoint('tablet') {
      padding-left: $space-13;
      padding-right: $space-13;
    }

    @include for-breakpoint('desktop') {
      padding: $space-10 $space-18;
      padding-bottom: $space-7;
    }

    .site-logo {
      color: var(--brand-300);
    }

    .top-right {
      display: flex;
      gap: $space-6;
      align-items: center;
      justify-content: flex-end;

      @include for-breakpoint('desktop') {
        gap: $space-8;
        flex-basis: 40%;
      }

      .navbar-action-btn {
        color: $neutral-400;
        width: 32px;
        height: 32px;
        flex: none;
        padding: $space-2;

        @include for-breakpoint('desktop') {
          width: 38px;
          height: 38px;
        }

        &:hover {
          color: $brand-300;
          background-color: $neutral-100;
          border-radius: $space-4;
          @include transition();
        }
      }

      .search-btn {
        @include for-breakpoint('desktop') {
          display: none;
        }
      }

      .cart-btn {
        position: relative;

        @include for-breakpoint('desktop') {
          margin-right: $space-5;
        }

        .cart-count {
          position: absolute;
          top: -0.5rem;
          right: -0.5rem;
          background-color: $brand-300;
          color: white;
          width: 1rem; // 20px
          height: 1rem; // 20px
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include paragraph-small;

          @include for-breakpoint('desktop') {
            width: 1.25rem; // 20px
            height: 1.25rem; // 20px
          }
        }
      }

      .mobile-menu-btn {
        padding: $space-2;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $space-4;

        @include for-breakpoint('desktop') {
          width: 2.375rem;
          height: 2.375rem;
          display: none;
        }

        .bar1,
        .bar2,
        .bar3 {
          width: 100%;
          height: 0.094rem;
          color: inherit;
          background-color: inherit;
          transition: 0.4s;
          display: block;
        }

        .bar1.active {
          transform: translate(0, 8px) rotate(-45deg);
          background-color: var(--brand-300);
        }

        .bar2.active {
          opacity: 0;
          background-color: var(--brand-300);
        }

        .bar3.active {
          transform: translate(0, -8px) rotate(45deg);
          background-color: var(--brand-300);
        }
      }

      .login-link {
        display: none;
        margin-left: $space-5;

        @include for-breakpoint('desktop') {
          display: inline;
        }
      }

      .search-product-input {
        display: none;
        @include transition();

        @include for-breakpoint('desktop') {
          display: block;
          width: 100%;
        }
      }
    }

    .mobile.main-navigation {
      background-color: white;
      width: 100%;
      display: none;
      position: fixed;
      inset: 0;
      top: 100px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 3;

      &.active {
        opacity: 1;
        display: block;
      }

      .links {
        a {
          display: block;
        }

        .link {
          a {
            color: var(--neutral-400);
            padding: $space-8 $space-10;

            &.active {
              background-color: var(--neutral-200);
            }

            &:active {
              background-color: var(--brand-100);
            }
          }
        }
      }

      .link.login {
        margin: 0 $space-9;
        margin-top: $space-7;

        a {
          color: white;
          padding-top: $space-4;
          padding-bottom: $space-4;
        }
      }
    }

    .desktop.main-navigation {
      display: none;

      @include for-breakpoint('desktop') {
        display: block;
      }

      .links {
        display: flex;

        .link {
          color: var(--neutral-400);

          a {
            padding: $space-5 $space-10;

            &.active {
              color: var(--brand-300);
              border-bottom: 2px solid var(--brand-300);
            }

            &:hover,
            &:active {
              color: var(--brand-200);
              border-bottom: 2px solid var(--brand-200);
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .mobile.search-product-bar {
      background-color: $neutral-100;
      visibility: hidden;
      position: fixed;
      inset: 0;
      opacity: 0;
      z-index: 3;

      @include for-breakpoint('desktop') {
        top: 56px;
        display: none;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .search-product-bar-container {
        width: 100%;
        display: flex;
        padding: $space-9;
      }

      .search-product-bar-header {
        display: flex;
        align-items: center;
        gap: $space-5;
        padding: $space-10 $space-8;

        .search-product-bar-close-btn {
          color: $neutral-400;
        }

        .search-product-input {
          width: 100%;
        }
      }

      .search-product-bar-content {
        padding: $space-8;
        padding-top: $space-5;
        height: 100%;
        overflow-y: auto;
      }
    }

    .desktop.search-product-bar {
      display: none;
      position: relative;
      @include transition();

      @include for-breakpoint('desktop') {
        display: block;
        width: 70%;
      }

      .search-product-bar-content {
        background-color: white;
        position: absolute;
        top: 100%;
        padding: $space-10;
        border-radius: $space-4;
        z-index: 50;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;

        @include shadow('lg');
      }
    }
  }

  .modal-backdrop.search-modal {
    display: none;
    top: 8.313rem; // 133px;
    right: 0.875rem; // 14px;

    @include for-breakpoint('desktop') {
      &.active {
        display: block;
      }
    }
  }
}
