@use 'breakpoints' as *;
@use 'components';
@use 'typography' as *;
@use 'spacing' as *;

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;

  header {
    position: relative;
    background-color: white;

    .header-container {
      padding: $space-8 $space-11;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--neutral-200);
      position: relative;

      @include for-breakpoint('tablet') {
        padding-left: $space-13;
        padding-right: $space-13;
      }

      @include for-breakpoint('desktop') {
        padding: $space-10 $space-18;
        padding-bottom: $space-7;
      }

      .site-logo {
        color: var(--brand-300);
      }

      .top-right {
        display: flex;
        gap: $space-8;
        align-items: center;

        .search-btn {
          color: var(--neutral-500);
        }

        .user-avatar-btn {
          color: var(--neutral-300);
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          display: flex;
          place-content: center;

          svg {
            width: 2rem;
            height: 2rem;
            display: inline-block;
          }
        }

        .menu-btn {
          padding: $space-2;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: $space-4;

          @include for-breakpoint('desktop') {
            display: none;
          }

          .bar1,
          .bar2,
          .bar3 {
            width: 100%;
            height: 0.094rem;
            background-color: var(--neutral-500);
            transition: 0.4s;
            display: block;
          }

          .bar1.active {
            transform: translate(0, 8px) rotate(-45deg);
            background-color: var(--brand-300);
          }

          .bar2.active {
            opacity: 0;
            background-color: var(--brand-300);
          }

          .bar3.active {
            transform: translate(0, -8px) rotate(45deg);
            background-color: var(--brand-300);
          }
        }
      }
    }

    .main-navigation {
      background-color: white;
      width: 100%;
      height: calc(100vh - 6.75rem);
      visibility: hidden;
      position: absolute;
      top: 3.25rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 3;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .links {
        a {
          display: block;
        }

        .link {
          a {
            color: var(--neutral-400);
            padding: $space-8 $space-10;

            &.active {
              background-color: var(--neutral-200);
            }

            &:active {
              background-color: var(--brand-100);
            }
          }
        }
      }

      .login {
        margin: 0 $space-9;
        margin-top: $space-8;

        .login-link {
          @include components.button-filled;
          padding-top: $space-4;
          padding-bottom: $space-4;
          width: 100%;
          display: block;
        }
      }
    }

    .desktop-main-navigation {
      display: none;

      @include for-breakpoint('desktop') {
        display: block;
      }

      .links {
        display: flex;
        .link {
          color: var(--neutral-400);

          a {
            padding: $space-5 $space-10;

            &.active {
              color: var(--brand-300);
              border-bottom: 2px solid var(--brand-300);
            }

            &:hover,
            &:active {
              color: var(--brand-200);
              border-bottom: 2px solid var(--brand-200);
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .search-product-bar {
      width: 100%;
      height: calc(100vh - 6.75rem);
      background-color: var(--neutral-100);
      visibility: hidden;
      position: absolute;
      top: 3.25rem;
      opacity: 0;
      z-index: 3;

      @include for-breakpoint('desktop') {
        top: 4.094rem;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .search-product-bar-container {
        width: 100%;
        display: flex;
        padding: $space-9;
      }

      .search-product-bar-input {
        background-color: white;
        display: flex;
        flex: 1;
        align-items: center;
        gap: $space-4;
        border: 1px solid var(--neutral-300);
        border-radius: $space-5;
        padding-left: $space-8;

        input[type='search'] {
          color: var(--neutral-400);
          border-radius: $space-4;
          width: 100%;
          padding: $space-5;

          &::placeholder {
            @include paragraph-small;
          }

          @include components.search-input-cancel;

          .back-btn {
            color: var(--neutral-200);
          }
        }
      }
    }
  }
}
