@use 'breakpoints';
@use 'components';
@use 'typography';

.navbar {
  position: absolute;
  width: 100%;
  top: 0;

  header.mobile {
    position: relative;

    @include breakpoints.for-breakpoint('desktop') {
      display: none;
    }

    .header-container {
      padding: var(--sp-8) var(--sp-11);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--neutral-200);
      position: relative;

      @include breakpoints.for-breakpoint('tablet') {
        padding-left: var(--sp-13);
        padding-right: var(--sp-13);
      }

      .site-logo {
        color: var(--brand-300);
      }

      .top-right {
        display: flex;
        gap: var(--sp-6);

        .search-btn {
          color: var(--neutral-500);
        }

        .menu-btn {
          padding: var(--sp-2);
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: var(--sp-4);

          .bar1,
          .bar2,
          .bar3 {
            width: 100%;
            height: 0.094rem;
            background-color: var(--neutral-500);
            transition: 0.4s;
            display: block;
          }

          .bar1.active {
            transform: translate(0, 8px) rotate(-45deg);
            background-color: var(--brand-300);
          }

          .bar2.active {
            opacity: 0;
            background-color: var(--brand-300);
          }

          .bar3.active {
            transform: translate(0, -8px) rotate(45deg);
            background-color: var(--brand-300);
          }
        }
      }
    }

    .main-navigation {
      background-color: white;
      width: 100%;
      height: calc(100vh - 6.75rem);
      visibility: hidden;
      position: absolute;
      top: 3.25rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 3;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .links {
        a {
          display: block;
        }

        .link {
          a {
            color: var(--neutral-400);
            padding: var(--sp-8) var(--sp-10);

            &.active {
              background-color: var(--neutral-200);
            }

            &:active {
              background-color: var(--brand-100);
            }
          }
        }
      }

      .login {
        margin: 0 var(--sp-9);
        margin-top: var(--sp-8);

        .login-link {
          @include components.button-filled;
          padding-top: var(--sp-4);
          padding-bottom: var(--sp-4);
          width: 100%;
          display: block;
        }
      }
    }

    .search-product-bar {
      width: 100%;
      height: calc(100vh - 6.75rem);
      background-color: var(--neutral-100);
      visibility: hidden;
      position: absolute;
      top: 3.25rem;
      opacity: 0;
      z-index: 3;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .search-product-bar-container {
        width: 100%;
        display: flex;
        padding: var(--sp-9);
      }

      .search-product-bar-input {
        background-color: white;
        display: flex;
        flex: 1;
        align-items: center;
        gap: var(--sp-4);
        border: 1px solid var(--neutral-300);
        border-radius: var(--sp-5);
        padding-left: var(--sp-8);

        input[type='search'] {
          color: var(--neutral-400);
          border-radius: var(--sp-4);
          width: 100%;
          padding: var(--sp-5);

          &::placeholder {
            @include typography.p-sm;
          }

          &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
            height: 1rem;
            width: 1rem;
            border-radius: 50rem;
            background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
              no-repeat 50% 50%;
            background-size: contain;
            opacity: 0;
            pointer-events: none;
          }

          &:focus::-webkit-search-cancel-button {
            opacity: 0.3;
            pointer-events: all;
          }

          .back-btn {
            color: var(--neutral-200);
          }
        }
      }
    }
  }

  header.desktop {
    padding: var(--sp-10) var(--sp-18);
    width: 100%;
    display: none;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral-200);
    align-items: center;
    position: absolute;

    @include breakpoints.for-breakpoint('desktop') {
      display: flex;
    }

    .site-logo {
      color: var(--brand-300);
    }

    .main-navigation {
      .links {
        display: flex;
        .link {
          color: var(--neutral-400);

          a {
            padding: var(--sp-5) var(--sp-10);

            &.active {
              color: var(--brand-300);
              border-bottom: 2px solid var(--brand-300);
            }

            &:hover,
            &:active {
              color: var(--brand-200);
              border-bottom: 2px solid var(--brand-200);
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .navbar-right {
      .search-btn {
        color: var(--neutral-400);
        margin-right: var(--sp-8);
        padding: var(--sp-4) var(--sp-6);
        border-radius: 4px;

        &:hover {
          background-color: var(--neutral-200);
          transition: all 0.3s ease-in-out;
        }
      }

      .login-link {
        @include components.button-filled;
      }
    }
  }
}
