<div class="navbar">
  <app-language-bar></app-language-bar>
  <header class="mobile">
    <div class="header-container">
      <nav aria-label="Site Logo">
        <a routerLink="/" class="site-logo">KimpiHomes</a>
      </nav>
      <div class="top-right">
        <button
          type="button"
          aria-label="Search"
          class="search-btn"
          (click)="toggleSearchProductBar()">
          <fa-icon icon="magnifying-glass"></fa-icon>
        </button>
        <button
          class="menu-btn"
          (click)="toggleMainNavigation()"
          aria-label="Menu">
          <div [ngClass]="showMainNavigation ? 'bar1 active' : 'bar1'"></div>
          <div [ngClass]="showMainNavigation ? 'bar2 active' : 'bar2'"></div>
          <div [ngClass]="showMainNavigation ? 'bar3 active' : 'bar3'"></div>
        </button>
      </div>
    </div>
    <div
      [ngClass]="
        showMainNavigation ? 'main-navigation active' : 'main-navigation'
      ">
      <nav aria-label="Main Navigation">
        <ul class="links">
          <li class="link">
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="link">
            <a routerLink="/shop" routerLinkActive="active">Shop</a>
          </li>
          <li class="link">
            <a routerLink="#" routerLinkActive="active">About</a>
          </li>
          <li class="link">
            <a routerLink="#" routerLinkActive="active">FAQs</a>
          </li>
          <li class="link">
            <a routerLink="#" routerLinkActive="active">News</a>
          </li>
        </ul>
      </nav>
      <nav aria-label="Login" class="login">
        <a routerLink="#" class="login-link">Login</a>
      </nav>
    </div>
    <div
      [ngClass]="
        showSearchProductBar
          ? 'search-product-bar active'
          : 'search-product-bar'
      ">
      <div class="search-product-bar-container">
        <div class="search-product-bar-input">
          <button
            type="button"
            class="back-btn"
            (click)="toggleSearchProductBar()">
            <fa-icon icon="arrow-left"></fa-icon>
          </button>
          <input
            type="search"
            id="searchProductsInput"
            aria-label="Search Products"
            placeholder="Search Products" />
        </div>
      </div>
    </div>
  </header>
  <header class="desktop">
    <nav aria-label="Site Logo">
      <a routerLink="/" class="site-logo">KimpiHomes</a>
    </nav>
    <nav aria-label="Main Navigation" class="main-navigation">
      <ul class="links">
        <li class="link">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="link">
          <a routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="link">
          <a routerLink="#" routerLinkActive="active">About</a>
        </li>
        <li class="link">
          <a routerLink="#" routerLinkActive="active">FAQs</a>
        </li>
        <li class="link">
          <a routerLink="#" routerLinkActive="active">News</a>
        </li>
      </ul>
    </nav>
    <div class="navbar-right">
      <button type="button" aria-label="Search" class="search-btn">
        <fa-icon icon="magnifying-glass"></fa-icon>
      </button>
      <a routerLink="#" class="login-link">Login</a>
    </div>
  </header>
</div>
