@use 'spacing' as *;
@use 'breakpoints' as *;

:host {
  display: flex;
  margin-top: $space-10;
  position: relative;

  @include for-breakpoint('desktop') {
    gap: $space-14;
    margin-top: $space-18;
  }

  .main-products-listings-content {
    display: flex;
    width: 100%;

    @include for-breakpoint('desktop') {
      padding-right: $space-20;
    }
  }
}
