<app-product-filter-sidebar></app-product-filter-sidebar>
<div class="main-products-listings-content">
  <app-product-filter-button></app-product-filter-button>
  <section class="new-arrivals products-listings">
    <header class="products-listings-header">
      <h2 class="products-listings-header-title">
        New Arrivals <span class="products-listings-total">1,500+ items</span>
      </h2>
    </header>
    <ul class="product-listings-list">
      @for (product of productListings; track product.id) {
        <li class="product-listings-list-item">
          <app-product-listings-card
            [product]="product"></app-product-listings-card>
        </li>
      }
    </ul>
  </section>
</div>
