@use 'spacing' as *;
@use 'colors' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

:host {
  details::before {
    content: none;
  }
}

.product-filter-type {
  .filter-type-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-200;
    padding: $space-5 0;
    @include heading-6;
  }
}
