<section class="customer-enquiry">
  <div class="contact-details">
    <header class="contact-header">
      <h2 class="contact-header-title">
        More Questions? <br class="heading-line-break" />Contauct Us
      </h2>
      <p class="contact-header-description">
        Send us a message, and we&apos;ll get back to you soon!
      </p>
    </header>
    <address class="contact-info">
      <div class="profile-info">
        <div class="profile-info-picture">
          <img src="./assets/images/contact-rep-avatar.png" alt="" srcset="" />
        </div>
        <div class="profile-info-details">
          <h3 class="profile-name">Anna Muller</h3>
          <p class="profile-position">Country rep</p>
        </div>
      </div>
      <div class="contact-number">
        <lucide-angular name="phone" class="contact-icon"></lucide-angular>
        <a href="tel:49 123 456 789" class="tel-number">+49 123 456 789</a>
      </div>
      <div class="contact-email">
        <lucide-angular name="mail" class="contact-icon"></lucide-angular>
        <a href="mailto:john.doe@gmail.com" class="email-address"
          >john.doe&commat;email.com</a
        >
      </div>
    </address>
  </div>
  <div class="contact-form-container">
    <h3 class="contact-form-heading">Fill the form below</h3>
    <form class="contact-form">
      <app-form-input
        type="text"
        id="fullname"
        name="fullname"
        label="Fullname"
        placeholder="Fullname"></app-form-input>
      <app-form-input
        type="email"
        id="email"
        name="email"
        label="Email"
        placeholder="john.doe@email.com"></app-form-input>
      <app-form-input
        type="textarea"
        id="message"
        name="message"
        label="Message"
        placeholder="Kindly type your message here..."></app-form-input>
      <button type="submit" class="submit-btn button-brand-filled">
        Submit
      </button>
    </form>
  </div>
</section>
