<aside
  class="products-filtering-sidebar"
  [ngClass]="isSidebarOpen() ? 'active' : ''">
  <app-product-filter filterName="Filtering">
    <div class="products-filtering-types">
      <app-product-filter-option
        [filterId]="categoriesFilter.id"
        filterName="Categories"
        [filterBy]="categoriesFilter.filterBy"
        filterType="radio"
        (filterChange)="onFilterChange()">
      </app-product-filter-option>
      <app-product-filter-option
        [filterId]="sizeDimensionFilter.id"
        filterName="Size & Dimension"
        [filterBy]="sizeDimensionFilter.filterBy"
        filterType="radio"
        (filterChange)="onFilterChange()">
      </app-product-filter-option>
      <app-product-filter-option
        [filterId]="availabilityFilter.id"
        filterName="Availability"
        [filterBy]="availabilityFilter.filterBy"
        filterType="radio"
        (filterChange)="onFilterChange()">
      </app-product-filter-option>
      <app-product-filter-option
        [filterId]="priceFilter.id"
        filterName="Price"
        filterType="range"
        minRangeValue="0"
        maxRangeValue="5000"
        rangeStep="10"
        maxRangeValueLimit="5000"
        minRangeValueLimit="0"
        [filterBy]="priceFilter.filterBy"
        (filterChange)="onFilterChange()">
      </app-product-filter-option>
    </div>
  </app-product-filter>
  <app-product-filter filterName="Sorting">
    <div class="products-sorting-types">
      <app-product-filter-option
        filterType="radio"
        [filterId]="sortByFilter.id"
        [filterBy]="sortByFilter.filterBy"
        (filterChange)="onFilterChange()">
      </app-product-filter-option>
    </div>
  </app-product-filter>
</aside>
<div
  class="modal-backdrop"
  [ngClass]="isSidebarOpen() ? 'active' : 'hidden'"
  (click)="toggleSidebarOnMobile()"></div>
