@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'typography' as *;
@use 'colors' as *;

:host {
  display: none;
  flex-direction: column;
  gap: $space-9;
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 100;
  overflow-y: auto;
  transition: opacity 0.4s ease;

  @include for-breakpoint('mobile-large') {
    width: 26.563rem;
    right: 0;
    left: auto;
  }

  @include for-breakpoint('desktop') {
    display: block;
    position: static;
    left: 0;
    right: auto;
    width: 12.438rem;
    z-index: 0;
    flex: none;
  }

  &.active {
    display: flex;
  }

  .product-filter-sidebar {
    padding: $space-10;
    background-color: white;
    z-index: 50;

    @include for-breakpoint('desktop') {
      padding: 0;
    }

    .close-filter-btn {
      width: 1.5rem;

      @include for-breakpoint('desktop') {
        display: none;
      }

      .filter-btn-icon {
        color: $neutral-400;
        width: inherit;
      }
    }

    .products-filtering-types {
      margin-top: $space-9;

      @include for-breakpoint('desktop') {
        margin-top: $space-10;
      }

      .filter-type {
        display: flex;
        flex-direction: column;
        gap: $space-9;

        .details-content {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.4s ease;
          margin-bottom: $space-11;
        }

        &[open] .details-content {
          max-height: 500px;
        }

        @include for-breakpoint('desktop') {
          &:hover {
            cursor: pointer;
          }
        }

        .filter-type-name {
          font-weight: 600;
          font-size: 1.125rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .filter-type-icon {
            color: $neutral-400;
          }
        }

        .filter-type-list {
          display: flex;
          flex-direction: column;
          gap: $space-6;

          .filter-type-list-item {
            display: flex;
            align-items: center;
            color: $neutral-500;
            padding-left: $space-1;

            label {
              @include for-breakpoint('desktop') {
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    .filter-buttons {
      display: flex;
      flex-direction: column;
      gap: $space-8;
      margin-top: $space-10;
    }
  }

  .modal-backdrop {
    @include for-breakpoint('desktop') {
      display: none;
    }
  }
}
