@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

.flash-sale {
  background-color: var(--neutral-200);
  margin-top: $space-18;
  border-radius: $space-5;
  display: flex;
  flex-direction: column;

  @include for-breakpoint('tablet') {
    margin-top: $space-19;
    flex-direction: row;
  }

  @include for-breakpoint('desktop') {
    margin-top: $space-21;
  }

  .flash-sale-image-container {
    flex: 1;
    border-top-right-radius: $space-4;
    border-top-left-radius: $space-4;

    @include for-breakpoint('tablet') {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: $space-4;
      border-top-left-radius: $space-4;
    }

    @include for-breakpoint('desktop') {
      border-bottom-left-radius: $space-4;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-top-right-radius: $space-4;
      border-top-left-radius: $space-4;

      @include for-breakpoint('tablet') {
        border-top-right-radius: 0;
        border-bottom-left-radius: $space-4;
      }
    }
  }

  .flash-sale-info {
    flex: 1;
    padding: $space-15 $space-10;
    background-color: var(--neutral-500);
    border-bottom-right-radius: $space-4;
    border-bottom-left-radius: $space-4;

    @include for-breakpoint('tablet') {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: $space-4;
      border-top-right-radius: $space-4;
    }

    @include for-breakpoint('desktop') {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: $space-21;
      padding-bottom: $space-21;
    }

    h3 {
      color: white;
      @include heading-6;
    }

    p {
      color: white;
      margin-top: $space-5;
      @include paragraph-2;
    }

    .flash-sale-info-break {
      display: none;

      @include for-breakpoint('desktop') {
        display: block;
      }
    }

    .learn-more-btn {
      width: 100%;
      display: inline-block;
      margin-top: $space-13;

      @include for-breakpoint('tablet') {
        width: auto;
      }

      @include for-breakpoint('desktop') {
        cursor: pointer;
      }
    }
  }
}
