<section class="flash-sale">
  <div class="flash-sale-image-container">
    <img src="./assets/images/home/flash-sale.png" alt="Flash Sale Banner" />
  </div>
  <div class="flash-sale-info">
    <div class="flash-sale-info-container">
      <h3>FLASH SALE: 25% OFF All Living Room Furniture</h3>
      <p>
        Refresh your space for less! Use code NEWSPACE at checkout. Ends March
        31st. <br class="flash-sale-info-break" />Free shipping on orders over
        $500.
      </p>
      <p></p>
      <a href="#" class="learn-more-btn button-brand-filled">Learn More</a>
    </div>
  </div>
</section>
