@if (type === 'text' || type === 'email' || type === 'password') {
  <div class="form-field">
    <label [for]="id">{{ label }}</label>
    <input
      [type]="type"
      [id]="id"
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [autocomplete]="autocomplete" />
  </div>
}

@if (type === 'textarea') {
  <div class="form-field">
    <label [for]="id">{{ label }}</label>
    <textarea
      [id]="id"
      [name]="name"
      [placeholder]="placeholder"
      [disabled]="disabled"></textarea>
  </div>
}

@if (type === 'telephone') {
  <div class="form-field">
    <label [for]="id">{{ label }}</label>
    <div class="telephone-input">
      <ng-content></ng-content>
      <input
        [type]="type"
        [id]="id"
        [name]="name"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [autocomplete]="autocomplete" />
    </div>
  </div>
}
