@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'colors' as *;

:host {
  display: block;

  .search-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $space-5;
    border: 1px solid $neutral-200;
    border-radius: $space-3;
    padding: $space-6;
    background-color: white;

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
      color: $neutral-400;
    }

    .search-input {
      width: 100%;
      color: $neutral-300;
    }

    .clear-search-btn {
      color: $neutral-300;
    }
  }
}
