@use 'spacing' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'breakpoints' as *;

:host {
  display: flex;
  justify-content: center;

  .products-pagination-buttons {
    display: flex;
    gap: $space-6;
    align-items: center;
    max-width: 100%;
  }

  .pagination-btn {
    padding: $space-5;
    width: 3rem;
    height: 3rem;
    border-radius: $space-3;
    background-color: $brand-500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-3;

    @include for-breakpoint('tablet') {
      width: auto;
      // height: auto;
      background-color: transparent;
      color: $brand-300;
    }

    @include for-breakpoint('desktop') {
      &:hover {
        background-color: $brand-100;
        color: $brand-500;
      }
    }

    &:disabled {
      background-color: $brand-100;
      color: $brand-200;
      cursor: not-allowed;
    }

    @include for-breakpoint('tablet') {
      &:disabled {
        background-color: transparent;
      }
    }

    .pagination-btn-text {
      display: none;

      @include for-breakpoint('tablet') {
        display: inline;
      }
    }

    .pagination-btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .previous.pagination-btn {
    @include for-breakpoint('tablet') {
      padding-right: $space-8;
    }
  }

  .next.pagination-btn {
    @include for-breakpoint('tablet') {
      padding-left: $space-8;
    }
  }

  .pagination {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .pagination-list {
      display: flex;
      gap: $space-4;

      .pagination-list-item {
        &.hide {
          display: none;
        }

        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 2.375rem;
          height: 2.375rem;
          padding: $space-5 $space-7;
          border-radius: $space-3;
          @include paragraph-small;
          font-weight: 700;
          color: $neutral-300;

          &.active {
            color: white;
            background-color: $brand-400;
          }

          @include for-breakpoint('desktop') {
            &:hover {
              background-color: $neutral-200;
              color: $neutral-600;
            }
          }
        }
      }
    }
  }
}
