@if (isLoading) {
  <app-spinning-loader></app-spinning-loader>
} @else if (hasLoadingError) {
  <app-loading-error
    message="Error loading messages. Reload page to try again."></app-loading-error>
} @else {
  <app-messages-list
    [messages]="messages"
    [isLoading]="false"
    [hasLoadingError]="false"
    (selectMessage)="selectMessage($event)"
    [selectedMessage]="selectedMessage"></app-messages-list>
  @if (selectedMessage) {
    <app-messages-viewer
      [message]="selectedMessage"
      (closeViewer)="closeMessageViewer()">
    </app-messages-viewer>
  }
}
