<section class="product-listings">
  <section class="products-filtering">
    <header>
      <h2>Filtering</h2>
      <button
        type="button"
        aria-label="Close filtering"
        class="close-filtering-btn">
        <lucide-icon name="x" class="filter-btn-icon"></lucide-icon>
      </button>
      <button
        type="button"
        aria-label="Collapse filtering"
        class="collapse-filtering-btn">
        <lucide-icon name="chevron-up" class="filter-btn-icon"></lucide-icon>
      </button>
    </header>
    <div class="products-filtering-types">
      <details class="filter-type">
        <summary class="filter-type-name">Categories</summary>
        <ul class="filter-type-list details-content">
          @for (category of categoriesFilter; track category.id) {
            <li class="filter-type-list-item">
              <div class="checkbox">
                <input
                  type="checkbox"
                  class="form-field-control"
                  [id]="category.name" />
                <span class="checkmark"></span>
              </div>
              <label [for]="category.name">{{ category.name }}</label>
            </li>
          }
        </ul>
      </details>
    </div>
  </section>
  <div class="products-content">
    <div class="products-filter-bar">
      <button type="button" class="filter-btn">
        <lucide-angular
          name="sliders-horizontal"
          class="filter-btn-icon"></lucide-angular>
        All filters
      </button>
    </div>
    <div class="products">
      <section class="new-arrivals">
        <header>
          <h2>New Arrivals</h2>
          <a routerLink="#" class="view-all-link">View all</a>
        </header>
        <p class="products-description">
          Shop now for exclusive discounts on stylish furniture-before the deals
          are gone
        </p>
        <ul class="product-list">
          @for (product of productListings; track product.id) {
            <li>
              <app-product-listings-card
                [product]="product"></app-product-listings-card>
            </li>
          }
        </ul>
      </section>
      <section class="top-sellers">
        <header>
          <h2>Top Sellers</h2>
          <a rotuerLink="#" class="view-all-link">View all</a>
        </header>
        <p class="products-description">
          Discover our best-selling essentials, curated for those who appreciate
          quality and style
        </p>
        <ul class="product-list">
          @for (product of productListings; track product.id) {
            <li>
              <app-product-listings-card
                [product]="product"></app-product-listings-card>
            </li>
          }
        </ul>
      </section>
    </div>
  </div>
</section>
