@use 'spacing' as *;
@use 'typography' as *;
@use 'colors' as *;

.product-listings {
  display: flex;
  flex-direction: column;
  gap: $space-15;
  margin-top: $space-13;

  .products {
    .new-arrivals,
    .top-sellers {
      h2 {
        @include heading-6;
      }
    }
  }
}
