<section class="product-listings">
  <aside class="products-filtering">product filtering</aside>
  <div class="products-content">
    <div class="products-filter-bar">
      <button type="button" class="filter-btn">
        <lucide-angular
          name="sliders-horizontal"
          class="filter-btn-icon"></lucide-angular>
        All filters
      </button>
    </div>
    <div class="products">
      <section class="new-arrivals">
        <header>
          <h2>New Arrivals</h2>
          <a routerLink="#" class="view-all-link">View all</a>
        </header>
        <p class="products-description">
          Shop now for exclusive discounts on stylish furniture-before the deals
          are gone
        </p>
        <ul class="new-arrivals-list">
          @for (product of productListings; track product.id) {
            <li>
              <app-product-listings-card
                [product]="product"></app-product-listings-card>
            </li>
          }
        </ul>
      </section>
      <section class="top-sellers">
        <header>
          <h2>Top Sellers</h2>
          <a rotuerLink="#" class="view-all-link">View all</a>
        </header>
        <p class="products-description">
          Shop our most-loved furnitures — trending, trusted, and flying off the
          shelves.
        </p>
        <ul class="top-sellers-list">
          @for (product of productListings; track product.id) {
            <app-product-listings-card
              [product]="product"></app-product-listings-card>
          }
        </ul>
      </section>
    </div>
  </div>
</section>
