<section class="product-listings">
  <div class="products-filter">
    <button type="button" class="filter-btn">
      <lucide-angular
        name="sliders-horizontal"
        class="filter-btn-icon"></lucide-angular>
      All filters
    </button>
  </div>
  <div class="products">
    <section class="new-arrivals">
      <header>
        <h2>New Arrivals</h2>
        <a routerLink="#" class="view-all-link">View all</a>
      </header>
    </section>
    <section class="top-sellers">
      <header>
        <h2>Top Sellers</h2>
        <a rotuerLink="#" class="view-all-link">View all</a>
      </header>
    </section>
  </div>
</section>
