<div class="language-bar-content">
  <button
    type="button"
    id="openLanguageFormButton"
    class="language-bar-btn"
    (click)="openLanguageForm()">
    <lucide-icon name="globe" class="globe-icon"></lucide-icon>
    <span class="text">
      <span class="country">USA</span> | <span class="lang">English</span>
    </span>
  </button>
  <dialog #languageBarDialog class="language-bar-menu">
    <button
      type="button"
      id="closeLanguageFormButton"
      class="close-language-form-btn"
      aria-label="Close Language and Country"
      (click)="closeLanguageForm()">
      <lucide-icon name="x" icon="close"></lucide-icon>
    </button>
    <div class="language-bar-form-container">
      <h6 class="title">Select your language and country</h6>
      <form
        class="language-bar-form"
        (submit)="$event.preventDefault()"
        method="dialog">
        <label class="language-form-input">
          <span class="label"> Country </span>
          <select class="country-select">
            <option value="">Select your country</option>
            @for (country of countries; track country) {
              <option [value]="country.name.toLocaleLowerCase()">
                {{ country.name }} &lpar;{{ country.defaultLang }}&rpar;
              </option>
            }
          </select>
        </label>
        <label class="language-form-input">
          <span class="label"> Language </span>
          <select class="language-select">
            <option value="">Select your language</option>
            @for (language of languages; track language) {
              <option [value]="language.id">{{ language.name }}</option>
            }
          </select>
        </label>
        <button type="submit" class="save-btn button-filled">Save</button>
      </form>
    </div>
  </dialog>
</div>
