@use 'spacing' as *;
@use 'colors' as *;

:host {
  display: block;
  height: 100%;

  .create-account-content {
    form {
      .terms-conditions-privacy {
        display: flex;
        flex-direction: row !important;
        align-items: center;

        .checkbox {
          position: relative;
          display: inline-block;
          width: 1.375rem;
          height: 1.375rem;
          margin-right: $space-5;
          flex: none;

          .form-field-control {
            padding: 0 !important;
            width: 1.375rem !important;
            height: 1.375rem !important;

            &:checked {
              background-color: $brand-300;

              + .checkmark::after {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &:hover {
              cursor: pointer !important;
            }
          }

          .checkmark {
            position: absolute;
            display: block;
            width: 1.375rem;
            height: 1.375rem;
            z-index: 1;
            top: 0;
            left: 0;
            pointer-events: none;

            &::after {
              content: '';
              display: none;
              position: absolute;
              left: 35%;
              top: 15%;
              width: 6px;
              height: 12px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }

      .form-info.login-info {
        text-align: center;
      }
    }
  }
}
