<div class="auth-content create-account-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Create an Account.</h1>
        <p class="title-info">Join us to enjoy personalized features</p>
      </header>
      <form
        (ngSubmit)="submitForm()"
        [formGroup]="createAccountForm"
        class="form"
        novalidate>
        <div class="form-fields">
          <app-form-input
            type="text"
            id="fullname"
            placeholder="john.doe@gmail.com"
            label="Fullname"
            autocomplete="username"
            formControlName="fullname"
            [error]="getformErrorsByControlName('fullname')"></app-form-input>
          <app-form-input
            type="email"
            id="email"
            placeholder="john.doe@gmail.com"
            label="Email"
            autocomplete="email"
            formControlName="email"
            [error]="getformErrorsByControlName('email')"></app-form-input>
          <app-form-input
            type="password"
            id="password"
            name="password"
            placeholder="*********"
            label="Password"
            autocomplete="new-password"
            formControlName="password"
            [error]="getformErrorsByControlName('password')"></app-form-input>
          <app-form-input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            placeholder="*********"
            label="Confirm Password"
            autocomplete="new-password"
            formControlName="confirmPassword"
            [error]="getformErrorsByControlName('confirmPassword')">
          </app-form-input>
          <app-form-checkbox
            id="agreedToTerms"
            name="agreedToTerms"
            formControlName="agreedToTerms"
            [error]="getformErrorsByControlName('agreedToTerms')">
            <p class="form-info">
              I have a read and agreed to the
              <a routerLink="#" class="form-link">Terms & Conditions</a> and
              <a routerLink="#" class="form-link">Privacy Policy</a>.
            </p>
          </app-form-checkbox>
        </div>
        <button
          type="submit"
          class="button-brand-filled submit-btn"
          [disabled]="isSignUpInProgress">
          @if (isSignUpInProgress) {
            Creating account...
          } @else {
            Create Account
          }
        </button>
        <p class="form-info footer login-info">
          Alreday have an account?
          <a routerLink="/login" class="form-link">Login</a>
        </p>
      </form>
    </div>
  </section>
  <div class="auth-image-container"></div>
</div>
