<div class="auth-content create-account-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Create an Account.</h1>
        <p class="title-info">Join us to enjoy personalized features</p>
      </header>
      <form>
        <div class="form-fields">
          <app-form-input
            type="text"
            id="fullname"
            name="fullname"
            placeholder="john.doe@gmail.com"
            label="Fullname"
            autocomplete="username"></app-form-input>
          <app-form-input
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@gmail.com"
            label="Email"
            autocomplete="email"></app-form-input>
          <app-form-input
            type="password"
            id="password"
            name="password"
            placeholder="*********"
            label="Password"
            autocomplete="new-password"></app-form-input>
          <app-form-input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="*********"
            label="Confirm Password"
            autocomplete="new-password">
          </app-form-input>
          <div class="terms-conditions-privacy">
            <app-form-checkbox></app-form-checkbox>
            <p class="form-info">
              I have a read and agreed to the
              <a routerLink="#" class="form-link">Terms & Conditions</a> and
              <a routerLink="#" class="form-link">Privacy Policy</a>.
            </p>
          </div>
        </div>
        <button type="submit" class="button-brand-filled submit-btn">
          Create an account
        </button>
        <p class="form-info footer login-info">
          Alreday have an account?
          <a routerLink="/login" class="form-link">Login</a>
        </p>
      </form>
    </div>
  </section>
  <section class="auth-image-container">
    <img src="./assets/images/login/desktop-image.png" alt="" />
  </section>
</div>
