<a routerLink="#" class="product-listings-card">
  <button
    type="button"
    aria-label="Add to Cart"
    class="add-to-cart-btn"
    (click)="$event.stopPropagation(); $event.preventDefault()">
    <lucide-icon name="shopping-cart" class="add-to-cart-btn-icon">
    </lucide-icon>
  </button>
  <div class="product-card-image">
    <img [src]="product()?.imageUrl" [alt]="product()?.name" />
  </div>
  <div class="product-card-details">
    <h3 class="product-card-title">{{ product()?.name }}</h3>
    <p class="product-card-price">${{ product()?.price }}</p>
    <p class="product-card-footer">
      <lucide-angular
        name="star"
        class="product-card-ratings-icon"></lucide-angular>
      <span class="product-card-ratings">{{ product()?.ratings }}</span>
      <span class="product-card-reviews">
        &lpar;{{ product()?.reviews?.length }} Reviews&rpar;
      </span>
    </p>
  </div>
</a>
