@use 'typography' as *;
@use 'spacing' as *;
@use 'colors' as *;
@use 'breakpoints' as *;

.product-listings-card {
  width: 9.375rem;
  height: 16.625rem;
  display: flex;
  flex-direction: column;
  gap: $space-5;
  border-radius: $space-5;
  position: relative;

  @include for-breakpoint('desktop') {
    transition-duration: 0.3s;

    &:hover {
      background-color: $neutral-200;
      transform: scale(1.01);
    }

    &:hover .product-card-image {
      filter: brightness(80%);
    }
  }

  .add-to-cart-btn {
    position: absolute;
    top: $space-4;
    right: $space-3;
    background-color: $brand-400;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include for-breakpoint('desktop') {
      &:hover {
        background-color: $brand-300;
      }
    }

    .add-to-cart-btn-icon {
      width: 0.975rem;
      color: white;
      display: inline-block;
    }
  }

  .product-card-image {
    img {
      border-radius: $space-3;
      height: 9.75rem;
      width: 9.375rem;
      object-fit: cover;
    }
  }

  .product-card-details {
    @include for-breakpoint('desktop') {
      padding: $space-5;
    }

    .product-card-title {
      @include paragraph-large;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: $space-4;
    }

    .product-card-price {
      @include paragraph-2;
      font-weight: bold;
      margin-top: $space-4;
    }

    .product-card-footer {
      @include paragraph-small;
      color: $neutral-400;
      margin-top: $space-4;
      display: flex;
      align-items: center;

      .product-card-ratings-icon {
        width: 0.688rem;
        margin-right: $space-3;
      }

      .product-card-ratings {
        margin-right: $space-3;
      }
    }
  }
}
