@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'colors' as *;

:host {
  display: block;

  @include for-breakpoint('desktop') {
    display: none;
  }

  .product-filter-button {
    .filter-btn {
      display: inline-flex;
      color: $brand-400;
      gap: $space-5;

      .filter-btn-icon {
        width: 0.75rem;
      }
    }
  }
}
