<h2 class="customer-page-title">Address</h2>
<form id="customerAddressForm" class="customer-address-form customer-form">
  <app-form-select
    id="country"
    name="country"
    label="Country"
    [options]="countriesOptions"></app-form-select>
  <app-form-input
    type="text"
    id="address"
    name="address"
    label="Address"
    placeholder="Enter your address"
    autocomplete="street-address">
  </app-form-input>
  <app-form-select
    type="text"
    id="state"
    name="state"
    label="State/Province/Region"
    placeholder="Enter your state/province/region"
    autocomplete="address-level1">
  </app-form-select>
  <app-form-input
    type="text"
    id="city"
    name="city"
    label="City"
    placeholder="Enter your city"
    autocomplete="address-level2">
  </app-form-input>
  <app-form-input
    type="text"
    id="zip-code"
    name="zipcode"
    label="Zip Code"
    placeholder="Enter your zip code"
    autocomplete="postal-code">
  </app-form-input>
  <div class="default-address-checkbox">
    <app-form-checkbox
      id="default-address"
      name="default-address"
      type="checkbox"
      value="default-address">
      Set as default shipping address
    </app-form-checkbox>
    <p class="checkbox-description">Set as default shipping address</p>
  </div>
  <button type="submit" class="button-filled save-changes-btn">
    Save Changes
  </button>
</form>
