<div class="auth-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Reset Password</h1>
        <p class="title-info">
          Provide a new password and continue your journey.
        </p>
      </header>
      <form>
        <div class="form-fields">
          <label for="password" class="form-field">
            <span class="form-field-label">Password</span>
            <input
              type="password"
              id="password"
              class="form-field-control"
              placeholder="*********" />
          </label>
          <label for="password" class="form-field">
            <span class="form-field-label">Confirm Password</span>
            <input
              type="password"
              id="confirm-password"
              class="form-field-control"
              placeholder="*********" />
          </label>
        </div>
        <button type="submit" class="button-filled submit-btn">Reset</button>
      </form>
    </div>
  </section>
  <section class="auth-image-container">
    <img src="./assets/images/login/desktop-image.png" alt="" />
  </section>
</div>
