<div class="auth-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Reset Password</h1>
        <p class="title-info">
          Provide a new password and continue your journey.
        </p>
      </header>
      <form>
        <div class="form-fields">
          <app-form-input
            type="password"
            id="password"
            name="password"
            placeholder="*********"
            label="Password"
            autocomplete="new-password"></app-form-input>
          <app-form-input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="*********"
            label="Confirm Password"
            autocomplete="new-password">
          </app-form-input>
        </div>
        <button type="submit" class="button-brand-filled submit-btn">
          Reset
        </button>
      </form>
    </div>
  </section>
  <section class="auth-image-container">
    <img src="./assets/images/login/desktop-image.png" alt="" />
  </section>
</div>
