<section class="product-categories">
  <div class="categories-list-container">
    <header>
      <h2>Product Categories</h2>
      <div class="media-slider-controls">
        <button type="button" aria-label="Previous Item">
          <lucide-icon name="chevron-left" class="icon"></lucide-icon>
        </button>
        <button type="button" aria-label="Next Item">
          <lucide-icon name="chevron-right" class="icon"></lucide-icon>
        </button>
      </div>
    </header>
    <ul class="categories-list">
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-1.png"
          alt="Category 1" />
        <p>Living Room</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-2.png"
          alt="Category 2" />
        <p>Office</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-3.png"
          alt="Category 3" />
        <p>Bedroom</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-4.png"
          alt="Category 4" />
        <p>Hall</p>
      </li>
    </ul>
  </div>
  <div class="flash-sale">
    <div class="flash-sale-image-container">
      <img src="./assets/images/home/flash-sale.png" alt="Flash Sale" />
    </div>
    <div class="flash-sale-info">
      <div class="flash-sale-info-container">
        <h3>FLASH SALE: 25% OFF All Living Room Furniture</h3>
        <p>
          Refresh your space for less! Use code NEWSPACE at checkout. Ends March
          31st. <br class="flash-sale-info-break" />Free shipping on orders over
          $500.
        </p>
        <p></p>
        <a href="#" class="learn-more-btn button-filled">Learn More</a>
      </div>
    </div>
  </div>
</section>
