@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@use 'typography' as *;

:host {
  app-product-categories {
    margin-top: $space-14;

    @include for-breakpoint('tablet') {
      margin-top: $space-18;
    }

    .categories-list-container {
      header {
        @include for-breakpoint('desktop') {
          padding-right: $space-30;
        }
      }
    }
  }

  .main-products-listings {
    margin-top: $space-15;

    @include for-breakpoint('desktop') {
      margin-top: $space-20;
    }
  }

  .flash-sales,
  .top-sellers {
    display: block;
    margin-top: $space-18;
    width: 100%;

    @include for-breakpoint('tablet') {
      margin-top: $space-20;
    }

    @include for-breakpoint('desktop') {
      margin-top: $space-18;
    }
  }
}
