<app-product-categories></app-product-categories>
<div class="main-products-listings">
  <app-product-filter-sidebar></app-product-filter-sidebar>
  <div class="main-products-listings-content">
    <app-product-filter-button></app-product-filter-button>
    <section class="new-arrivals products-listings">
      <header class="products-listings-header">
        <h2 class="products-listings-header-title">New Arrivals</h2>
        <a routerLink="/shop/new-arrivals" class="view-all-link">View all</a>
      </header>
      <p class="products-listings-description">
        Shop now for exclusive discounts on stylish furniture-before the deals
        are gone
      </p>
      <app-products-carousel>
        <ul class="product-listings-list">
          @for (product of productListings; track product.id) {
            <li class="product-listings-list-item">
              <app-product-listings-card
                [product]="product"></app-product-listings-card>
            </li>
          }
        </ul>
      </app-products-carousel>
    </section>
    <section class="top-sellers products-listings">
      <header class="products-listings-header">
        <h2 class="products-listings-header-title">Top Sellers</h2>
        <a rotuerLink="#" class="view-all-link">View all</a>
      </header>
      <p class="products-listings-description">
        Discover our best-selling essentials, curated for those who appreciate
        quality and style
      </p>
      <app-products-carousel>
        <ul class="product-listings-list">
          @for (product of productListings; track product.id) {
            <li class="product-listings-list-item">
              <app-product-listings-card
                [product]="product"></app-product-listings-card>
            </li>
          }
        </ul>
      </app-products-carousel>
    </section>
  </div>
</div>
<section class="flash-sales products-listings">
  <header class="products-listings-header">
    <h2 class="products-listings-header-title">Flash Sales</h2>
    <a rotuerLink="#" class="view-all-link">View all</a>
  </header>
  <p class="products-listings-description">
    Shop now for exclusive discounts on stylish furniture—before the deals are
    gone
  </p>
  <app-products-carousel>
    <ul class="product-listings-list">
      @for (product of productListings; track product.id) {
        <li class="product-listings-list-item">
          <app-product-listings-card
            [product]="product"></app-product-listings-card>
        </li>
      }
    </ul>
  </app-products-carousel>
</section>
