@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@use 'typography' as *;

:host {
  app-product-categories {
    margin-top: $space-5;

    @include for-breakpoint('tablet') {
      margin-top: $space-18;
    }

    @include for-breakpoint('desktop') {
      margin-top: $space-20;
    }

    .categories-list-container {
      header {
        @include for-breakpoint('desktop') {
          padding-right: $space-30;
        }
      }
    }
  }

  .main-products-listings {
    display: flex;
    margin-top: $space-16;
    position: relative;

    @include for-breakpoint('desktop') {
      gap: $space-14;
      margin-top: $space-22;
    }

    .main-products-listings-content {
      width: 100%;

      @include for-breakpoint('desktop') {
        padding-right: $space-30;
      }
    }
  }

  .flash-sales,
  .top-sellers {
    display: block;
    margin-top: $space-18;
    width: 100%;

    @include for-breakpoint('tablet') {
      margin-top: $space-20;
    }

    @include for-breakpoint('desktop') {
      margin-top: $space-18;
    }
  }
}
