<app-shop-breadcrumb currentRoute="home"></app-shop-breadcrumb>
<app-product-categories></app-product-categories>
<div class="main-products-listings">
  <app-product-filter-sidebar></app-product-filter-sidebar>
  <div class="main-products-listings-content">
    <app-product-filter-button></app-product-filter-button>
    @if (productListings && productListings.newArrivals) {
      <app-carousel-products-listings
        class="new-arrivals"
        title="New Arrivals"
        viewAllLink="/shop/new-arrivals/1"
        description="Shop now for exclusive discounts on stylish furniture—before the deals are"
        [productListings]="productListings.newArrivals">
      </app-carousel-products-listings>
    }
    @if (productListings && productListings.topSellers) {
      <app-carousel-products-listings
        [productListings]="productListings.topSellers"
        class="top-sellers"
        title="Top Sellers"
        viewAllLink="/shop/top-sellers/1"
        description="Discover our best-selling essentials, curated for those who appreciate
          quality and style">
      </app-carousel-products-listings>
    }
    @if (productListings && productListings.flashSales) {
      <app-carousel-products-listings
        class="flash-sales"
        title="Flash Sales"
        viewAllLink="/shop/flash-sales/1"
        description="Shop now for exclusive discounts on stylish furniture—before the deals are"
        [productListings]="productListings.flashSales">
      </app-carousel-products-listings>
    }
  </div>
</div>
