@use 'colors' as *;
@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'transitions' as *;

:host {
  .search-bar {
    display: flex;
    margin-top: $space-15;
    margin-bottom: $space-11;
    @include transition();

    @include for-breakpoint('desktop') {
      margin-top: $space-14;
      margin-bottom: $space-18;
    }

    .search-input-container {
      display: flex;
      align-items: center;
      border-top-left-radius: $space-4;
      border-bottom-left-radius: $space-4;
      border: 1px solid $neutral-300;
      width: 100%;

      .search-input {
        width: 100%;
        padding: $space-5 $space-9;
        color: $neutral-400;

        &::placeholder {
          color: $neutral-300;
        }

        @include for-breakpoint('desktop') {
          padding: $space-7 $space-10;
        }
      }

      .search-input-clear-btn {
        color: $neutral-300;
        background-color: transparent;
        width: $space-12;
        height: $space-12;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $space-8;

        &:hover {
          color: $neutral-400;
          background-color: $neutral-200;
          @include transition-short('background-color');
        }

        @include for-breakpoint('desktop') {
          width: $space-14;
          height: $space-14;
          margin-right: $space-5;
        }
      }
    }

    .search-button {
      background-color: $brand-400;
      border: 1px solid $brand-400;
      color: $neutral-100;
      border: none;
      padding: $space-5 $space-9;
      cursor: pointer;
      border-top-right-radius: $space-4;
      border-bottom-right-radius: $space-4;
      @include transition-short('background-color');

      &:hover {
        background-color: $brand-300;
      }

      @include for-breakpoint('desktop') {
        padding: $space-7 $space-10;
      }
    }
  }
}
