<div class="user-menu" #userMenuContainer>
  <button
    class="user-menu-btn"
    aria-label="User Avatar"
    (click)="toggleUserMenu()">
    <lucide-icon name="user"></lucide-icon>
    <img src="./assets/images/user-avatar.png" alt="User Profile" srcset="" />
  </button>
  <div class="user-menu-content" [ngClass]="showUserMenu ? 'active' : 'hidden'">
    <div class="user-menu-close-bar">
      <button
        class="user-menu-close-btn"
        (click)="toggleUserMenu()"
        aria-label="Close User Menu">
        <lucide-icon name="x"></lucide-icon>
      </button>
    </div>
    <div class="user-menu-dropdown">
      <div class="user-menu-dropdown-header">
        <img
          src="./assets/images/user-avatar.png"
          alt="User Profile"
          class="user-menu-dropdown-avatar" />
        <div class="user-menu-dropdown-info">
          <p class="user-name">John Doe</p>
          <p class="user-email">john.doe&commat;email.com</p>
        </div>
      </div>
      <ul class="user-menu-dropdown-list">
        <li class="user-menu-link">
          <a routerLink="/customer/overview" (click)="toggleUserMenu()"
            ><lucide-angular
              name="layout-grid"
              class="navigation-item-icon"></lucide-angular
            >Overview</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/personal-details" (click)="toggleUserMenu()">
            <lucide-angular
              name="user-round"
              class="navigation-item-icon"></lucide-angular>
            Profile</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/address" (click)="toggleUserMenu()">
            <lucide-angular
              name="house"
              class="navigation-item-icon"></lucide-angular>
            Address</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/order-history" (click)="toggleUserMenu()">
            <lucide-angular
              name="package"
              class="navigation-item-icon"></lucide-angular>
            Order History</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/messages" (click)="toggleUserMenu()">
            <lucide-angular
              name="message-square-text"
              class="navigation-item-icon"></lucide-angular>
            Messages</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/account-settings" (click)="toggleUserMenu()">
            <lucide-angular
              name="user-round-cog"
              class="navigation-item-icon"></lucide-angular>
            Account settings</a
          >
        </li>
        <li class="user-menu-link">
          <a routerLink="/customer/logout">
            <lucide-angular
              name="log-out"
              class="navigation-item-icon"></lucide-angular>
            Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
