<div class="homepage">
  <header class="mobile">
    <div class="navbar">
      <nav aria-label="Site Logo">
        <a routerLink="/" class="site-logo">KimpiHomes</a>
      </nav>
      <button class="menu-btn" (click)="toggleNav()" aria-label="Menu">
        <div [ngClass]="showNav ? 'bar1 active' : 'bar1'"></div>
        <div [ngClass]="showNav ? 'bar2 active' : 'bar2'"></div>
        <div [ngClass]="showNav ? 'bar3 active' : 'bar3'"></div>
      </button>
    </div>
    <nav
      [ngClass]="showNav ? 'main-navigation active' : 'main-navigation'"
      aria-label="Main Navigation">
      <ul class="links">
        <li class="link">
          <a routerlink="#">Home</a>
        </li>
        <li class="link">
          <a routerlink="#">Shop</a>
        </li>
        <li class="link">
          <a routerlink="#">About</a>
        </li>
        <li class="link">
          <a routerlink="#">FAQs</a>
        </li>
        <li class="link">
          <a routerlink="#">News</a>
        </li>
        <li class="button-link">
          <a routerlink="#">Login</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
