@use 'breakpoints' as *;
@use 'spacing' as *;

.home {
  padding: $space-15 $space-9;

  @include for-breakpoint('tablet') {
    padding: $space-18 $space-11;
  }

  @include for-breakpoint('desktop') {
    padding: $space-17 $space-18;
  }

  app-product-categories {
    margin-top: $space-19;

    @include for-breakpoint('tablet') {
      margin-top: $space-18;
    }

    @include for-breakpoint('desktop') {
      margin-top: $space-20;
    }
  }
}
