<div class="homepage">
  <header class="mobile">
    <div class="navbar">
      <nav aria-label="Site Logo">
        <a routerLink="/" class="site-logo">KimpiHomes</a>
      </nav>
      <button class="menu-btn" aria-label="Menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>
    </div>
    <nav class="main-navigation" aria-label="Main Navigation">
      <ul class="links">
        <li class="link">
          <a routerlink="#">Home</a>
        </li>
        <li class="link">
          <a routerlink="#">Shop</a>
        </li>
        <li class="link">
          <a routerlink="#">About</a>
        </li>
        <li class="link">
          <a routerlink="#">FAQs</a>
        </li>
        <li class="link">
          <a routerlink="#">News</a>
        </li>
        <li class="button-link">
          <a routerlink="#">Login</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
