@use 'breakpoints';
@use 'components';
@use 'typography';

.homepage {
  position: relative;
  min-height: 100vh;

  .main-content {
    padding: var(--sp-15) var(--sp-9);
    margin-top: 7.313rem;

    @include breakpoints.for-breakpoint('tablet') {
      padding: var(--sp-18) var(--sp-11);
    }

    @include breakpoints.for-breakpoint('desktop') {
      padding: var(--sp-17) var(--sp-18);
      margin-top: 7.875rem;
    }

    @include breakpoints.for-breakpoint('desktop-xxlarge') {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
