@use 'breakpoints' as *;
@use 'spacing' as *;
@use 'colors' as *;
@use 'transitions' as *;
@use 'typography' as *;

:host {
  .main-content {
    display: flex;
    padding: $space-18 $space-9;

    @include for-breakpoint('desktop') {
      gap: $space-14;
    }

    @include for-breakpoint('tablet') {
      padding: $space-18 $space-14;
    }

    @include for-breakpoint('desktop') {
      justify-content: space-between;
      padding: $space-18 $space-18;
    }

    .customer-sidebar {
      width: 18.75rem;
      display: none;

      @include for-breakpoint('desktop') {
        display: block;
      }

      .sidebar-navigation {
        width: 100%;

        .sidebar-navigation-list {
          display: flex;
          flex-direction: column;
          gap: $space-6;

          .navigation-list-item {
            @include transition();

            .navigation-item-link {
              display: flex;
              align-items: center;
              gap: $space-5;
              padding: $space-5 $space-8;
              border-radius: $space-3;
              color: $neutral-400;
              @include body-small;

              &.active {
                background-color: $brand-100;
                color: $brand-400;
                font-weight: 700;
              }

              &:hover {
                background-color: $brand-100;
                color: $brand-400;
                @include transition-medium('background-color', 'color');
              }

              .navigation-item-icon {
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    main {
      width: 100%;
    }
  }
}
