@use 'typography' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;

.new-products {
  margin-top: $space-18;

  @include for-breakpoint('tablet') {
    margin-top: $space-20;
  }

  @include for-breakpoint('desktop-large') {
    margin-top: $space-21;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-15;

    h2 {
      @include heading-6;

      @include for-breakpoint('tablet') {
        @include heading-5;
      }
    }
  }

  .new-products-list-container {
    overflow: hidden;

    .new-products-list {
      display: flex;
      column-gap: $space-8;
      min-width: 100%;

      @include for-breakpoint('desktop') {
        column-gap: $space-10;
      }

      .new-products-list-item {
        img {
          object-fit: cover;
          border-radius: $space-4;
          min-width: 236px;
          min-height: 316px;

          @include for-breakpoint('tablet') {
            min-width: 316px;
            min-height: 422px;
          }

          @include for-breakpoint('desktop') {
            min-width: 421px;
            min-height: 562px;
          }
        }

        .new-product-list-category {
          color: var(--neutral-500);
          text-align: center;
          margin-top: $space-10;
        }
      }
    }
  }
}
