<section class="new-products">
  <header>
    <h2>New Arrivals</h2>
    <div class="carousel-controls">
      <app-carousel-button arrowDirection="left"></app-carousel-button>
      <app-carousel-button arrowDirection="right"></app-carousel-button>
    </div>
  </header>
  <div class="new-products-list-container">
    <ul class="new-products-list">
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-1.png"
          alt="New Product 1" />
        <p class="new-product-list-category">Living Room</p>
      </li>
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-2.png"
          alt="New Product 2" />
        <p class="new-product-list-category">Bedroom</p>
      </li>
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-3.png"
          alt="New Product 3" />
        <p class="new-product-list-category">Dining Hall</p>
      </li>
    </ul>
  </div>
</section>
