<section>
  <header>
    <h2>New Arrivals</h2>
    <div class="categories-slider-controls">
      <button type="button" aria-label="Previous Item">
        <lucide-icon name="chevron-left" class="icon"></lucide-icon>
      </button>
      <button type="button" aria-label="Next Item">
        <lucide-icon name="chevron-right" class="icon"></lucide-icon>
      </button>
    </div>
  </header>
  <div class="new-products-container">
    <ul class="new-products-list">
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-1.png"
          alt="New Product 1" />
        <p>Living Room</p>
      </li>
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-2.png"
          alt="New Product 2" />
        <p>Bedroom</p>
      </li>
      <li class="new-products-list-item">
        <img
          src="./assets/images/home/new-products-3.png"
          alt="New Product 3" />
        <p>Dining Hall</p>
      </li>
    </ul>
  </div>
</section>
