<section class="product-categories">
  <div class="categories-list-container">
    <header>
      <h2>Product Categories</h2>
      <div class="carousel-controls">
        <app-carousel-button
          arrowDirection="left"
          class="left-carousel-button"></app-carousel-button>
        <app-carousel-button
          arrowDirection="right"
          class="right-carousel-button"></app-carousel-button>
      </div>
    </header>
    <ul class="categories-list">
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-1.png"
          alt="Category 1" />
        <p>Living Room</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-2.png"
          alt="Category 2" />
        <p>Office</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-3.png"
          alt="Category 3" />
        <p>Bedroom</p>
      </li>
      <li class="categories-list-item">
        <img
          src="./assets/images/home/category-placeholder-4.png"
          alt="Category 4" />
        <p>Hall</p>
      </li>
    </ul>
  </div>
</section>
