<div class="auth-content forgot-password-content">
  <section class="auth-form">
    <div class="auth-form-content">
      <header>
        <a routerLink="/" class="site-logo"> KimpiHomes </a>
        <h1 class="title">Forgot Password</h1>
        <p class="title-info">
          Don't worry! Enter your email for a reset link.
        </p>
      </header>
      <form>
        <div class="form-fields">
          <app-form-input
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@gmail.com"
            label="Email"
            autocomplete="email"></app-form-input>
        </div>
        <button type="submit" class="button-brand-filled submit-btn">
          Send Reset Link
        </button>
      </form>
    </div>
  </section>
  <section class="auth-image-container"></section>
</div>
