@use 'spacing' as *;
@use 'colors' as *;
@use 'typography' as *;

.shop-breadcrumb {
  .breadcrumb-list {
    display: flex;
    gap: $space-5;
    @include paragraph-small;

    .breadcrumb-list-item {
      display: inline-flex;
      align-items: center;
      gap: $space-4;

      &:is(.active) {
        font-weight: bold;
      }

      &:not(.active) {
        color: $neutral-300;
      }

      .breadcrumb-icon {
        width: 1rem;
        padding: $space-2;
        height: auto;
        color: $neutral-300;
      }
    }
  }
}
