@use 'breakpoints' as *;
@use 'colors' as *;
@use 'spacing' as *;
@use 'transitions' as *;

.carousel-button {
  background-color: $neutral-200;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  color: $neutral-400;
  padding: $space-5;

  &:hover {
    background-color: $brand-300;
    color: white;
    @include transition-short('background-color');
  }

  .carousel-btn-icon {
    display: flex;
    place-content: center;
  }
}
