@charset 'utf-8';

@use 'reset';
@use 'utilities';
@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'breakpoints' as *;
@use 'transitions' as *;
@use 'components' as *;

// Base Styles
:root {
  font-size: 100%;
}

body {
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  @include body-small;

  @include for-breakpoint('tablet') {
    @include body-medium;
  }

  @include for-breakpoint('desktop') {
    @include body-large;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--neutral-700);
}

h1,
.heading-1 {
  @include heading-1;
}

h2,
.heading-2 {
  @include heading-2;
}

h3,
.heading-3 {
  @include heading-3;
}

h4,
.heading-4 {
  @include heading-4;
}

h5,
.heading-5 {
  @include heading-5;
}

h6,
.heading-6 {
  @include heading-6;
}

p,
.paragraph-1 {
  @include paragraph-1;
}

.paragraph-2 {
  @include paragraph-2;
}

.paragraph-large {
  @include paragraph-large;
}

.paragraph-small {
  @include paragraph-small;
}

// App Page Components
app-root,
app-home,
app-shop,
app-login,
app-reset-password,
app-forgot-password,
app-create-account {
  display: block;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

//Utilities Classes
.page-content {
  position: absolute;
  top: 6.75rem;
  width: 100%;

  @include for-breakpoint('tablet') {
    top: 6.438rem;
  }

  @include for-breakpoint('desktop') {
    top: 8.125rem;
  }

  @include for-breakpoint('desktop-large') {
    top: 8.563rem;
  }
}

.center-page {
  @include for-breakpoint('desktop-xxlarge') {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// UI Components
.button-filled {
  @include button-component;
  color: white;
  background-color: $brand-500;

  &:hover {
    background-color: $brand-300;
    @include transition-medium(background-color);
  }
}

.button-outlined {
  @include button-component;
  color: $brand-500;
  background-color: transparent;
  border: 1px solid $brand-500;

  &:hover {
    background-color: $neutral-200;
    @include transition-medium(background-color);
  }
}

.button-default {
  @include button-component;
  color: $neutral-500;
  background-color: $neutral-100;
  border: 1px solid $neutral-200;

  &:hover {
    background-color: $neutral-200;
    @include transition-medium(background-color);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  label,
  .form-field-label {
    @include paragraph-small;
    font-weight: bold;

    @include for-breakpoint('tablet') {
      @include paragraph-2;
      font-weight: bold;
    }
  }

  input,
  textarea,
  .select {
    outline: 1px solid $neutral-200;
    border-radius: $space-3;
    padding: $space-7 $space-5;
    width: 100%;

    &::placeholder {
      color: $neutral-300;
    }

    &:disabled {
      background-color: $neutral-200;
      color: $neutral-400;
      cursor: not-allowed;
    }

    &:focus {
      background-color: $neutral-100;
      @include transition-medium(background-color);
    }
  }
}

.checkbox,
.radio {
  position: relative;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: $space-5;
  flex: none;

  input[type='checkbox'],
  input[type='radio'] {
    padding: 0 !important;
    width: inherit;
    height: inherit;
    outline: 1px solid $neutral-300;
    border-radius: $space-3;

    &:checked {
      background-color: $brand-300;
      outline: 1.2px solid $brand-300;

      + .checkmark::after {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover {
      cursor: pointer !important;
    }
  }

  .checkmark {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: 35%;
      top: 15%;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: $space-4;

  @include for-breakpoint('desktop') {
    gap: $space-7;
  }
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: #3d3d3d66;
  z-index: 20;
}

lucide-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
