@charset 'utf-8';

@use './scss/reset';
@use './scss/utilities';
@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'breakpoints' as *;

// Base Styles
:root {
  font-size: 100%;
}

body {
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  @include body-small;

  @include for-breakpoint('tablet') {
    @include body-medium;
  }

  @include for-breakpoint('desktop') {
    @include body-large;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--neutral-700);
}

h1,
.heading-1 {
  @include heading-1;
}

h2,
.heading-2 {
  @include heading-2;
}

h3,
.heading-3 {
  @include heading-3;
}

h4,
.heading-4 {
  @include heading-4;
}

h5,
.heading-5 {
  @include heading-5;
}

h6,
.heading-6 {
  @include heading-6;
}

p,
.paragraph-1 {
  @include paragraph-1;
}

.paragraph-2 {
  @include paragraph-2;
}

.paragraph-large {
  @include paragraph-large;
}

.paragraph-small {
  @include paragraph-small;
}

// App Page Components
app-home,
app-login,
app-reset-password,
app-forgot-password,
app-create-account,
app-navbar,
app-footer,
app-language-bar {
  display: block;
}

//Utilities Classes
.page-content {
  margin-top: 6.75rem;

  @include for-breakpoint('tablet') {
    margin-top: 6.438rem;
  }

  @include for-breakpoint('desktop') {
    margin-top: 8.125rem;
  }

  @include for-breakpoint('desktop-large') {
    margin-top: 8.563rem;
  }
}

// UI Components
.button-filled {
  color: white;
  padding: $space-7 $space-10;
  background-color: var(--brand-300);
  border-radius: $space-3;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;

  &:hover {
    background-color: var(--brand-200);
  }
}

.button-outlined {
  color: var(--brand-300);
  padding: $space-7 $space-10;
  background-color: transparent;
  border: 1px solid var(--brand-300);
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  border-radius: $space-3;

  &:hover {
    background-color: var(--neutral-200);
  }
}

.media-slider-controls {
  display: flex;
  justify-content: center;
  gap: $space-4;

  @include for-breakpoint('desktop') {
    gap: $space-7;
  }

  button {
    background-color: var(--neutral-200);
    width: 1.368rem;
    height: 1.368rem;
    border-radius: 100%;
    color: var(--neutral-400);
    padding: $space-4;

    @include for-breakpoint('tablet') {
      width: 2.75rem;
      height: 2.75rem;
    }

    .icon {
      display: flex;
      place-content: center;
    }
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: $space-5;
  flex: none;
  border-radius: $space-2;

  .form-field-control {
    padding: 0 !important;
    width: 1.375rem !important;
    height: 1.375rem !important;

    &:checked {
      background-color: $brand-300;

      + .checkmark::after {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover {
      cursor: pointer !important;
    }
  }

  .checkmark {
    position: absolute;
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: 35%;
      top: 15%;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
