:root {
  /* Brand */
  --brand-100: #fef7f3; /* Very light Brand */
  --brand-200: #fbe1ce; /* Lighter Brand */
  --brand-300: #ee873d; /* Medium Brand */
  --brand-400: #ea690c; /* Heavy Brand */

  /* Warning */
  --warning-100: #ffebee; /* Lightest Warning */
  --warning-200: #e57373; /* Lighter Warning */
  --warning-300: #d32f2f; /* Deepest Warning */

  /* Success */
  --success-100: #e8f5e9; /* Lightest Success */
  --success-200: #81c784; /* Lighter Success */
  --success-300: #4caf50; /* Deepest Success */

  /* Neutral */
  --neutral-100: #fafafa; /* Lightest Neutral */
  --neutral-200: #eeeeee; /* Lighter Neutral */
  --neutral-300: #9e9e9e; /* Medium Neutral */
  --neutral-400: #757575; /* Dark Neutral */
  --neutral-500: #454545;
  --neutral-600: #212121; /* Deepest Neutral */
  --neutral-700: #262626; /* Deepest Neutral */

  /* Warning */
  --warning-100: #fff8e1; /* Lightest Warning */
  --warning-200: #ffd54f; /* Lighter Warning */
  --warning-400: #ffc107; /* Deepest Warning */

  /* Info */
  --info-100: #e3f2fd; /* Lightest Info */
  --info-200: #64b5f6; /* Lighter Info */
  --info-400: #2196f3; /* Deepest Info */
}
