@mixin button-filled {
  color: white;
  padding: var(--sp-8) var(--sp-10);
  background-color: var(--brand-300);
  font-weight: 700;
  text-align: center;
  border-radius: 0.25rem;
  &:hover {
    background-color: var(--brand-200);
  }
}

@mixin search-input-cancel {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
      no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
  }

  &:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
  }
}
