// Spacing Scale
:root {
  --sp-0: 0rem;
  --sp-1: 0.0625rem; /* 1px */
  --sp-2: 0.125rem; /* 2px */
  --sp-3: 0.25rem; /* 4px */
  --sp-4: 0.375rem; /* 6px */
  --sp-5: 0.5rem; /* 8px */
  --sp-6: 0.625rem; /* 10px */
  --sp-7: 0.75rem; /* 12px */
  --sp-8: 0.875rem; /* 14px */
  --sp-9: 1rem; /* 16px */
  --sp-10: 1.25rem; /* 20px */
  --sp-11: 1.5rem; /* 24px */
  --sp-12: 1.75rem; /* 28px */
  --sp-13: 2rem; /* 32px */
  --sp-14: 2.25rem; /* 36px */
  --sp-15: 2.5rem; /* 40px */
  --sp-16: 2.75rem; /* 44px */
  --sp-17: 3rem; /* 48px */
  --sp-18: 3.5rem; /* 56px */
  --sp-19: 4rem; /* 64px */
  --sp-20: 5rem; /* 80px */
  --sp-21: 6rem; /* 96px */
  --sp-22: 7rem; /* 112px */
  --sp-23: 8rem; /* 128px */
  --sp-24: 9rem; /* 144px */
  --sp-25: 10rem; /* 160px */
  --sp-26: 11rem; /* 176px */
  --sp-27: 12rem; /* 192px */
  --sp-28: 13rem; /* 208px */
  --sp-29: 14rem; /* 224px */
  --sp-30: 15rem; /* 240px */
  --sp-31: 16rem; /* 256px */
  --sp-32: 17rem; /* 272px */
  --sp-33: 18rem; /* 288px */
  --sp-34: 19rem; /* 304px */
  --sp-35: 24rem; /* 384px */
}
