@mixin heading-1 {
  font-size: 4rem;
  line-height: 4.625rem;
  font-weight: 700;
}

@mixin heading-2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
}

@mixin heading-3 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
}

@mixin heading-4 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

@mixin heading-5 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

@mixin heading-6 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin paragraph-1 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

@mixin paragraph-2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@mixin paragraph-large {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@mixin paragraph-small {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

@mixin body-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@mixin body-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@mixin body-large {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
