.hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.active {
  opacity: 1;
  visibility: visible !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
