<table class="order-history-table">
  <thead class="order-history-table-header">
    <tr class="order-history-table-header-item">
      <th>Order ID</th>
      <th>Items</th>
      <th>Status</th>
      <th>
        Total <span *ngIf="priceCurrency">&lpar;{{ priceCurrency }}&rpar;</span>
      </th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="order-history-table-body">
    @for (order of orders; track order.id) {
      <tr class="order-history-table-item">
        <td>{{ order.id }}</td>
        <td>{{ order.totalItems }}</td>
        <td class="order-status">
          <span class="badge" [ngClass]="order.status">{{ order.status }}</span>
        </td>
        <td>{{ order.totalPrice }}</td>
        <td>{{ order.date | date: 'YYYY-MM-dd' }}</td>
        <td class="order-history-table-actions">
          <app-actions-menu
            [menuItems]="orderActionsMenuItems"
            (menuToggled)="closeAllMenusExceptOpened($event)">
            <lucide-angular
              name="ellipsis-vertical"
              class="action-icon"></lucide-angular>
            <span class="sr-only">View Actions</span>
          </app-actions-menu>
        </td>
      </tr>
    }
  </tbody>
</table>
