@use 'typography' as *;
@use 'breakpoints' as *;
@use 'spacing' as *;

.service-offer {
  display: flex;
  flex-direction: column;
  margin-top: $space-18;

  @include for-breakpoint('desktop') {
    margin-top: $space-20;
  }

  @include for-breakpoint('desktop-large') {
    flex-direction: row;
    margin-top: $space-23;
    gap: $space-15;
  }

  p {
    @include paragraph-2;
    color: var(--neutral-400);
  }

  .introduction {
    h2 {
      @include heading-5;
      margin-bottom: $space-10;
    }

    .line-break {
      display: none;

      @include for-breakpoint('tablet') {
        display: block;
      }
    }
  }

  .benefits {
    margin-top: $space-15;
    display: flex;
    flex-direction: column;
    gap: $space-14;

    @include for-breakpoint('tablet') {
      margin-top: $space-16;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $space-12;
      row-gap: $space-16;
    }

    .icon {
      color: var(--brand-300);
      width: 64px;
      height: 64px;
      display: grid;
      place-content: center;
      background-color: var(--brand-100);
      border-radius: $space-5;
    }

    section {
      h3 {
        color: var(--neutral-600);
        font-size: 1.25rem;
        line-height: 28px;
        margin-top: $space-12;
      }

      p {
        margin-top: $space-8;
      }
    }
  }

  .cover-image-container {
    min-width: fit-content;
    display: none;

    @include for-breakpoint('desktop-large') {
      display: block;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: $space-6;
    }
  }
}
