<section class="benefits">
  <h2>Why Choose Us</h2>
  <p>
    We are committed to providing you with the bet furniture shopping
    experience. Here's why we stand out:
  </p>
  <section class="quality">
    <fa-icon icon="trophy" class="icon"></fa-icon>
    <h3>Premim Quality & Durability</h3>
    <p>
      Our furniture is crafted from top-quality materials, ensuring long-lasting
      durability, comfort, and timeless style for your home or office.
    </p>
  </section>
  <section class="selection">
    <fa-icon icon="chair" class="icon"></fa-icon>
    <h3>Wide Selection for Every Space</h3>
    <p>
      From modern to classic designs, we offer a diverse range of furniture to
      match your taste, whether you're furnishing your living room, bedroom, or
      workspace.
    </p>
  </section>
  <section class="experience">
    <fa-icon icon="truck" class="icon"></fa-icon>
    <h3>Seamless Shopping & Reliable Delivery</h3>
    <p>
      We make furniture shopping effortless with an easy-to-use website, secure
      payment options, and fast, reliable delivery straight to your doorstep
    </p>
  </section>
  <section class="price">
    <fa-icon icon="sack-dollar" class="icon"></fa-icon>
    <h3>Affordable Prices & Exclusive Discounts</h3>
    <p>
      Style shouldn't break the bank! Enjoy competitive pricing, seasonal
      promotions, and exclusive discounts to make your dream space a reality at
      the best value
    </p>
  </section>
</section>
