<div class="overview-header">
  <h1 class="overview-header-title">Welcome, Prince!</h1>
  <p class="overview-header-description">
    Check out your recent orders and pending notifications. Update your profile
    or explore new offers right from here.
  </p>
</div>
<div class="overview-main-content">
  <ul class="overview-stats">
    <li class="overview-stats-item">
      <span class="overview-stats-header">
        <lucide-angular
          name="package"
          class="overview-stats-icon"></lucide-angular>
        <span class="overview-stats-title">Orders</span>
      </span>
      <span class="overview-stats-number">0</span>
    </li>
    <li class="overview-stats-item">
      <span class="overview-stats-header">
        <lucide-angular
          name="truck"
          class="overview-stats-icon"></lucide-angular>
        <span class="overview-stats-title">Shipment</span>
      </span>
      <span class="overview-stats-number">0</span>
    </li>
    <li class="overview-stats-item">
      <span class="overview-stats-header">
        <lucide-angular
          name="undo-2"
          class="overview-stats-icon"></lucide-angular>
        <span class="overview-stats-title">Returns</span>
      </span>
      <span class="overview-stats-number">0</span>
    </li>
  </ul>
</div>
