@use 'breakpoints' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'colors' as *;

:host {
  display: block;

  .overview-header {
    text-align: center;
    padding: $space-9;
    display: flex;
    flex-direction: column;
    gap: $space-5;

    @include for-breakpoint('tablet') {
      padding: $space-15 $space-20;
    }

    .overview-header-title {
      @include heading-5;

      @include for-breakpoint('desktop') {
        @include heading-4;
      }
    }

    .overview-header-description {
      color: $neutral-400;

      @include paragraph-2;

      @include for-breakpoint('desktop') {
        @include paragraph-large;
      }
    }
  }

  .overview-main-content {
    max-width: 54.125rem;
    margin: 0 auto;

    @include for-breakpoint('tablet') {
      margin-top: $space-18;
    }

    .overview-stats {
      display: grid;
      row-gap: $space-10;

      @include for-breakpoint('tablet') {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        gap: $space-12;
      }

      @include for-breakpoint('desktop') {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: $space-11;
      }

      .overview-stats-item {
        display: flex;
        flex-direction: column;
        gap: $space-12;
        border: 1px solid $neutral-200;
        border-radius: $space-5;
        padding: $space-10;

        .overview-stats-header {
          display: flex;
          align-items: center;
          gap: $space-8;

          .overview-stats-title {
            font-weight: bold;
          }

          .overview-stats-icon {
            background-color: $brand-100;
            color: $brand-500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: $space-3;

            svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        .overview-stats-number {
          @include heading-5;
        }
      }
    }
  }
}
