@use 'breakpoints' as *;
@use 'spacing' as *;

:host {
  display: block;
  height: 100%;
  width: 100%;

  .paginated-product-listings {
    height: 100%;

    .products-listings-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .products-listings-pagination {
        margin-top: $space-10;

        @include for-breakpoint('tablet') {
          margin-top: $space-17;
        }
      }
    }
  }
}
